# 6/49 lottery probability app

**What the project is about.**

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning.

**What your goal is in this project.**

Show probabilty to discourage gambling.

In [1]:
import pandas as pd
import numpy as np

In [3]:
def factorial(n):
    n_factorial = n
    for i in range(1,n):
        n_factorial  *= (n-i)
    return n_factorial


def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator / denominator

In [18]:
def one_ticket_probability(user_numbers):
    outcomes = combinations(49,6)
    ticket_probability = 1 / outcomes
    percentage = ticket_probability * 100
    print('''Your chances to win the big prize with the numbers {} are {:.7f}%.
In other words, you have a 1 in {:,} chances to win.
'''.format(user_numbers, percentage, int(outcomes)))

In [19]:
test = [1,2,3,4,5,6]
one_ticket_probability(test)

Your chances to win the big prize with the numbers [1, 2, 3, 4, 5, 6] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

We build a function to calculate de probabilities of one ticket of 6 numbers. You can input your 6 numbers and the output is the probability to win.

In [21]:
historical_649 = pd.read_csv('649.csv')
historical_649.shape

(3665, 11)

In [23]:
historical_649.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [24]:
historical_649.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [25]:
# Write a function named extract_numbers() that takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers.
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row
winning_numbers = historical_649.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [37]:
def check_historical_occurence(user_numbers, winning_numbers):
    user_numbers = set(user_numbers)
    counter = 0
    for n in winning_numbers:
        if user_numbers == n:
            counter += 1
    if counter > 0:
        print('''This combination occurred {} times in the past. 
Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(counter, user_numbers))
    if counter == 0:
        print('''The combination {} has never occured.
This doesn't mean it's more likely to occur now. Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(user_numbers, user_numbers))

In [38]:
winner = [34, 5, 14, 47, 21, 31]
check_historical_occurence(winner, winning_numbers)

This combination occurred 1 times in the past.
Your chances to win the big prize in the next drawing using the combination {34, 5, 14, 47, 21, 31} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

We wrote a function to print the number of times a combination of numbers has won the lottery since 1982.

In [68]:
# Write a function named multi_ticket_probability()

def multi_ticket_probability(n_tickets):
    outcomes = combinations(49,6)
    win = n_tickets / outcomes
    perc_win = win*100
    combinations_simplified = round(outcomes / n_tickets)
    print('''
Your probability to win the lottery playing 
{} tickets is {:.7f}%. 
It's 1 in {} chances to win.
    '''.format(n_tickets, perc_win, combinations_simplified))

In [69]:
inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for i in inputs:
    multi_ticket_probability(i)

Your probability to win the lottery playing
1 tickets is 0.0000072%.
It's 1 in 13983816 chances to win.


Your probability to win the lottery playing
10 tickets is 0.0000715%.
It's 1 in 1398382 chances to win.


Your probability to win the lottery playing
100 tickets is 0.0007151%.
It's 1 in 139838 chances to win.


Your probability to win the lottery playing
10000 tickets is 0.0715112%.
It's 1 in 1398 chances to win.


Your probability to win the lottery playing
1000000 tickets is 7.1511238%.
It's 1 in 14 chances to win.


Your probability to win the lottery playing
6991908 tickets is 50.0000000%.
It's 1 in 2 chances to win.


Your probability to win the lottery playing
13983816 tickets is 100.0000000%.
It's 1 in 1 chances to win.

We wrote a function that takes de number of ticket played and return de probability to win.

In [81]:
def probability_less_6(n_winning_numbers):
    # calculate the number of successful outcomes given the value of the input.
    n_combinations_ticket = combinations(6,n_winning_numbers)
    n_combinations_remaining = combinations(43, 6 - n_winning_numbers)
    successful_outcomes = n_combinations_ticket * n_combinations_remaining
    
    # calculate the number of total possible outcomes.
    total_outcomes = combinations(49, 6)
    
    # Calculate the probability using the number of successful outcomes and the number of total possible outcomes.
    succesfull_probability = successful_outcomes / total_outcomes
    
    # Display the probability value in a way that will be easy to understand for the user.
    percentage_success = succesfull_probability * 100
    simplified = round(total_outcomes / successful_outcomes)
    
    print('''
Your probability to match {} numbers in lotery 
is {:.7f}%. It's 1 in {} chances to win.
    '''.format(n_winning_numbers, percentage_success, simplified))

In [82]:
test_input = [2, 3, 4, 5]

for t in test_input:
    probability_less_6(t)
    print('----------------------------------------')

Your probability to match 2 numbers in lotery
is 13.2378029%. It's 1 in 8 chances to win.

----------------------------------------

Your probability to match 3 numbers in lotery
is 1.7650404%. It's 1 in 57 chances to win.

----------------------------------------

Your probability to match 4 numbers in lotery
is 0.0968620%. It's 1 in 1032 chances to win.

----------------------------------------

Your probability to match 5 numbers in lotery
is 0.0018450%. It's 1 in 54201 chances to win.

----------------------------------------